<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <form name="loginForm" method="post" action="/v1/auth/register">
        <table width="20%" bgcolor="0099CC" align="center">

            <tr>
                <td colspan=2><center><font size=4><b>Register</b></font></center></td>
            </tr>

            <tr>
                <td>Pseudo:</td>
                <td><input type="text" size=25 name="pseudo"></td>
            </tr>

            <tr>
                <td>FirstName:</td>
                <td><input type="text" size=25 name="firstName"></td>
            </tr>
            <tr>
                <td>LastName:</td>
                <td><input type="text" size=25 name="lastName"></td>
            </tr>
            <tr>
                 <td>Email:</td>
                <td><input type="email" size=25 name="email"></td>
            </tr>
            <tr>
                <td>BirthDate:</td>
                <td><input type="date" size=25 name="birthDate"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="Password" size=25 name="password"></td>
            </tr>

            <tr>
                <td ><input type="Reset"></td>
                <td><input type="submit" onclick="" value="Validate"></td>
            </tr>

        </table>
    </form>

</div>
</body>
</html>